.landing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #5B6B8C; 
  }
  
  .content {
    text-align: center;
    color: white;
    max-width: 600px;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #DA6A34; 
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #C65827; 
  }
  